<a id="education"></a>
<h2 id="edudiv">Education</h2>
<div class="card-container">
  <div class="card" >
      <a href="https://iiit.ac.in" target="_blank">
  <div class="indiv">
    <div class="icon1">
      <img src="./assets/img/education/iiit_logo.png" />
    </div>
    <div class="info">
      <p class="title">B.Tech CSE and MS by Research in CSE</p>
      <p class="location">International Institute of Information Technology, Hyderabad</p>
      <p class="dates">2019-2024</p>
    </div>
  </div>
      </a>
      </div>
  {% for item in site.data.education %}
  
  <div class="card" >
      <a href={{ item.link }} target="_blank">
  <div class="indiv">
    <div class="icon">
      <img src="./assets/img/education/{{ item.logo }}" />
    </div>
    <div class="info">
      <p class="title">{{ item.course }}</p>
      <p class="location">{{ item.institute }}</p>
      <p class="dates">{{ item.dates }}</p>
    </div>
  </div>
      </a>
      </div>
  {% endfor %}
</div>
