<a id="projects"></a>
<h2 id="projectdiv">Projects</h2>
<div class="card-container">
  {% for item in site.data.projects %}
  <div class="project-card long-card">
    <div class="image">
      <img src="./assets/img/project/{{ item.logo }}" />
      <div class="overlay"></div>
    </div>
    <div class="info">
      <p class="title">{{ item.title }}</p>
      <p class="tagline">{{ item.tagline }}</p>
      <p class="dates">{{ item.date }}</p>
    </div>
    <div class="content">
      <div class="text">{{ item.project-description }}<br /></div>
      <div class="linkdiv" style="float:right; padding-right:20px;">
      <a href={{item.link}} target="_blank" style="font-size: 100px; ">
      >
      </a>
    </div>
    </div>
  </div>
  {% endfor %}
</div>
